:root {
    --good: greenyellow;
    --bad: red;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ccc;
    line-height: 1.618rem;
    margin: 1rem;
}

header {
    background: #000;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    height: 3rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

main {
    min-width: 425px;
}

main>section {
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    padding: 1rem;
}

main>section>section>* {
    border-radius: 2px;
    text-align: center;
    padding-left: .25rem;
    padding-right: .25rem;
    display: grid;
    align-content: center;
}

.description {
    background: black;
    color: cyan;
}

.reading {
    background: greenyellow;
    color: black;
}

.status {
    background: var(--good);
}

.control {
    background: red;
    color: black;
    width: 3rem;
}

.setting {
    width: 6rem;
}

@supports (display: grid) {
    main {
        display: grid;
        grid-gap: 1rem;
        width: auto;
    }

    main>section {
        --flow: row;
        --rows: '';
        --columns: repeat(auto-fit, minmax(260px, 1fr));
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: var(--columns);
        grid-auto-flow: var(--flow);
        grid-template-rows: var(--rows);
    }

    main>section>section {
        display: grid;
        grid-gap: 0.25rem;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        grid-auto-flow: column;
    }
}